In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv(r"E:\Data Analyst Bootcamp\python-projects\netflix-eda\data\netflix_titles.csv")

Understanding the data

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.duplicated()

In [ ]:
df.isnull().sum()

In [ ]:
df

Cleaning the data

In [ ]:
df["director"].fillna("Not Available",inplace=True)
df["cast"].fillna("Not Available",inplace=True)
df["country"].fillna("Unknown",inplace=True)
df["date_added"].fillna("Unknown",inplace=True)

In [ ]:
rating_mode=df["rating"].mode()
df["rating"].fillna("rating_mode",inplace=True)

movie_type=df[df["type"]=="Movie"]["duration"]
print(movie_type.mode())

tv_show_type=df[df["type"]=="TV Show"]["duration"]
print(tv_show_type.mode())

df.loc[(df["type"]=="Movie")
       &(df["duration"].isna()),
       "duration"]="90 min"

df.loc[(df["type"]=="TV Show")
       &(df["duration"].isna()),
       "duration"]="1 Season"

In [21]:
numberOfMovies=df[df["type"]=="Movie"]["type"].count()

numberOfTvShow=df[df["type"]=="TV Show"]["type"].count()


print("numberOfMovies =",numberOfMovies,",numberOfTvShow =",numberOfTvShow)

numberOfMovies = 6131 ,numberOfTvShow = 2676